<!doctype html>
<html lang="en">
<head>
        <meta name="description" content="Hello, I am Rabbi"/>
        <meta name="keywords" content="piccihimu"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, shrink-to-fit=no"/>

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="canonical" href="https://www.foyezrabbi.com/">


        <title>
            {{ page_title | capitalize() }}
        </title>
    </head>
<body>
error
</body>
</html>